h3{
    font: size 25px !important;   
  }
  .btn-success:hover{
      background-color: antiquewhite;
  }
  canvas{
      animation-name: sshubanugujcd;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
  @keyframes sshubanugujcd {
    from{box-shadow: 1px 1px 38px tomato;}  
    to{box-shadow:  1px 1px 38px royalblue;}
  }